/* --------------------------------------------------Reset---------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "poppinsregular";
  font-size: 16px;
  overflow-x: hidden;
  background-color: #ddd;
}

/* prettier-ignore */
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------------------Navbar--------------------------------------------------- */

#navbar {
  background-color: #1f1f1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
}

#navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .link {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .link li a {
  color: #f8f5ee;
  padding: 13px 0;
  border: 0;
  transition: 150ms;
}

#navbar .link li a:hover {
  border-bottom: 3px solid #f8f5ee;
  font-weight: bold;
  transition: 150ms;
}

#navbar .logo .logo-txt {
  display: block;
  margin-left: 10px;
}

#navbar .logo img {
  width: 70px;
}

#navbar .logo p {
  margin-bottom: 2px;
  font-size: 1.3em;
  color: #f8f5ee;
}

#navbar .logo span {
  font-size: 0.75em;
  color: #f8f5ee;
}

/* ------------------Hamburger Menu---------------- */

#navbar .menu-toggle {
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#navbar .menu-toggle span {
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: antiquewhite;
  transition: all 0.3s;
}

#navbar .menu-toggle input {
  position: absolute;
  width: 50px;
  height: 26px;
  top: -3px;
  left: -11px;
  opacity: 0;
  cursor: pointer;
  z-index: 11;
}

#navbar .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

#navbar .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

#navbar .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

#navbar .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

#navbar .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* --------------------------------------------------Header--------------------------------------------------- */

#container {
  width: 100vw;
  display: grid;
  row-gap: 80px;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "opening";
}

#header {
  grid-area: header;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(47deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(img/bg1.jpg);
  background-size: cover;
  color: #f8f5ee;
  display: grid;
  place-items: center;
  text-align: center;
}

#opening {
  grid-area: opening;
  place-items: center;
}

#header .header-txt h1 {
  margin-bottom: 60px;
  font-family: "poppinsbold";
  font-size: 2.8em;
  text-shadow: -1px 0 5px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 1px 0 5px rgba(0, 0, 0, 0.2), 0 -1px 5px rgba(0, 0, 0, 0.2);
}

#header .header-txt .quotes {
  margin-bottom: 30px;
}

#header .header-txt .quotes q {
  padding: 5px 13px;
  border-right: 3px solid #f8f5ee;
  border-left: 3px solid #f8f5ee;
  font-family: "poppinsmedium";
  font-size: 1.3em;
  text-shadow: -1px 0 5px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 1px 0 5px rgba(0, 0, 0, 0.2), 0 -1px 5px rgba(0, 0, 0, 0.2);
}

#header .header-txt .btn {
  border: 0;
  border-radius: 50px;
  padding: 18px 25px;
  font-family: "poppinssemibold";
  font-size: 0.9em;
  cursor: pointer;
  transition: 280ms;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #f8f5ee;
  background-color: #010a3d;
}

#header .header-txt .btn:hover {
  background-color: #f8f5ee;
  color: #010a3d;
  transition: 280ms;
}

/* --------------------------------------------------Opening-------------------------------------------------- */

#opening {
  display: grid;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #1f1f1b;
}

#opening h1 {
  font-family: "poppinsbold";
  font-size: 2em;
  margin-bottom: 30px;
}

#opening p {
  font-family: "poppinsregular";
  font-size: 1.3em;
  line-height: 1.5;
  padding: 30px 0;
}

#opening span {
  display: block;
  justify-content: center;
  width: 100px;
  height: 2px;
  border-radius: 50px;
  background-color: #666;
}

/* --------------------------------------------------Main----------------------------------------------------- */

#container-2 {
  width: 80%;
  margin: 100px auto;
  display: grid;
  row-gap: 90px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    "sec-1 sec-1 side"
    "sec-img-1 sec-2 sec-2"
    "sec-3 sec-3 sec-4"
    "sec-img-2 sec-5 sec-5";
}

#sec-1 {
  grid-area: sec-1;
  padding: 10px 40px 80px 10px;
  border-bottom: 3px solid #666;
}

#side {
  grid-area: side;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 80px 10px;
  border-bottom: 3px solid #666;
}

#sec-img-1 {
  grid-area: sec-img-1;
  border-bottom: 3px solid #666;
  padding-bottom: 80px;
}

#sec-2 {
  grid-area: sec-2;
  padding-left: 40px;
  padding-bottom: 80px;
  border-bottom: 3px solid #666;
}

#sec-3 {
  grid-area: sec-3;
  padding-right: 50px;
  padding-bottom: 80px;
  border-bottom: 3px solid #666;
}

#sec-4 {
  grid-area: sec-4;
  border-bottom: 3px solid #666;
  padding-bottom: 80px;
}

#sec-5 {
  grid-area: sec-5;
  padding-left: 40px;
  padding-bottom: 80px;
  border-bottom: 3px solid #666;
}

#sec-img-2 {
  grid-area: sec-img-2;
  padding-bottom: 80px;
  border-bottom: 3px solid #666;
}

.sec-img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  border: 3px solid darkgray;
}

#sec-1 h2,
#sec-2 h2,
#sec-3 h2,
#container-3 h2 {
  font-family: "poppinsbold";
  font-size: 2em;
}

#sec-1 p,
#sec-2 p,
#sec-3 p,
#sec-5 p {
  font-family: "poppinsregular";
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 30px;
  text-align: justify;
}

#sec-5 ul {
  margin-top: 15px;
}

#sec-5 li {
  font-family: "poppinsregular";
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
  list-style-type: initial;
  margin-left: 20px;
}

#sec-1 p q {
  font-family: "poppinsregular";
  font-size: 0.9em;
}

#sec-1 .arabic-txt {
  font-size: 1.4em;
  margin-top: 0;
}

#side .box-side {
  background-color: #010a3d;
  color: #f8f5ee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  border-radius: 30px;
  padding: 25px 25px 35px 25px;
}

#side .box-side p {
  font-family: "poppinsmedium";
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;
}

#side .box-side .btn-2 {
  border: 0;
  border-radius: 50px;
  padding: 15px 35px;
  font-family: "poppinsbold";
  font-size: 0.9em;
  cursor: pointer;
  transition: 280ms;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #010a3d;
  background-color: #f8f5ee;
  letter-spacing: 1.5px;
}

#side .box-side .btn-2:hover {
  background-color: #1f1f1b;
  color: #f8f5ee;
  transition: 280ms;
}

/* --------------------------------------------------Form----------------------------------------------------- */

#container-3 {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: #010a3d;
  color: #f8f5ee;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

#form {
  margin-top: 25px;
}

#form label,
#form input,
#form button {
  display: block;
}

#form label {
  margin-bottom: 7px;
  font-family: "poppinsmedium";
  font-size: 1.1em;
}

#form input {
  margin-bottom: 25px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.9em;
}

#form .btn-3 {
  border: 0;
  border-radius: 50px;
  padding: 13px 19px;
  margin-top: 40px;
  font-family: "poppinsbold";
  font-size: 1em;
  cursor: pointer;
  transition: 280ms;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #010a3d;
  background-color: #f8f5ee;
}

#form .btn-3:hover {
  background-color: #1f1f1b;
  color: #f8f5ee;
  transition: 280ms;
}

/* ----------------------------------------------------Footer------------------------------------------------- */

#footer {
  margin-top: 200px;
  width: 100vw;
  padding: 15px 0;
  background-color: #1f1f1b;
}

#footer p {
  font-family: "poppinssemibold";
  font-size: 0.9em;
  text-align: center;
  color: #f8f5ee;
}
/* -----------------------------------------------Responsive Navbar------------------------------------------- */

@media screen and (max-width: 992px) {
  #navbar .link {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  #navbar .link {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f1f1b;
    z-index: -11;
    transform: translateX(100%);
    transition: 0.7s;
    opacity: 0;
  }

  #navbar .link li a:hover {
    border: 0;
  }

  #navbar .link.slide {
    opacity: 1;
    transform: translateX(0);
  }

  #navbar .menu-toggle {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  #navbar .logo img {
    width: 55px;
  }

  #navbar .logo p {
    margin-bottom: 1.2px;
    font-size: 1.15em;
  }

  #navbar .logo span {
    font-size: 0.6em;
  }

  #header .header-txt {
    text-align: center;
    padding: 0 20px;
  }

  #header .header-txt h1 {
    font-size: 36px;
  }

  #header .header-txt .quotes {
    margin-bottom: 45px;
  }

  #header .header-txt .quotes q {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 2;
    border-right: 0;
  }

  #header .header-txt .btn {
    padding: 15px 25px;
    font-size: 13px;
  }

  #opening {
    width: 83%;
    margin: 0 auto;
  }

  #opening h1 {
    font-size: 30px;
  }

  #opening p {
    font-size: 1em;
  }
}
